.flexbox {
    display: flex;
    justify-content: center;
    max-width: 760px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
}

.flexbox .board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background: #0BB7AF;
    padding: 15px;
}

.flexbox .board .card {
    padding: 15px 25px;
    background: #0BB783;
    cursor: pointer;
    margin-bottom: 15px;
}